#contact{
    background-color: white;
    margin-top: 10px;
}

.projects{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.projects2{
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: black;
}